{
  "overrides": [
    {
      "files": [
        ".babelrc",
        ".eslintrc",
        ".prettierrc",
        ".postcssrc",
        ".stylelintrc"
      ],
      "options": { "parser": "json" }
    }
  ]
}
